*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(175, 146, 146);
}

#logo{
    width: 10%;
    margin-top: 16px;
    text-align: center;
}
#left-bar{
    width: 40%;
    margin-top: 14px;
    text-align: center;
}

#right-bar{
    background-color: rgb(11, 11, 53);
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar{
    background-color: rgb(37, 16, 16);
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
}


#heading
{
    color: orangered;
    font-size: 50px;


}

#icon1{
    margin-right: 15px;
}

#mainlogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


#adddata{
    background-color: rgb(83, 67, 67);
    margin-top: 5%;
    margin-bottom: 5%;
    width: 450px;
    border-radius: 20px 50px 20px 50px;
    animation: border 4s infinite;
}

#adddata span{
    color: white;
    font-size: 20px;
}

#adddata h2{
    color: orangered;
    animation: list 3s infinite;
}

#adddata input{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

#submit{
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    background-color: orangered;
    transition: 0.4s;
}
#submit:hover{
    background-color: orange;
    color: rgb(107, 98, 98);
}



@keyframes list {
    0%{
        color: red;
    }
    50%{
        color: rgb(141, 12, 23);
    }
    100%{
        color: orangered;
    }
}
@keyframes border {
    0%{
      border:solid red;
    }
    50%
    {
      border: solid blue;
    }
    100%{
      border:solid green;
    }
  }