*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: black;
}

#logo{
    width: 10%;
    margin-top: 16px;
    text-align: center;
}
#left-bar{
    width: 40%;
    margin-top: 14px;
    text-align: center;
}

#right-bar{
    background-color: rgb(11, 11, 53);
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar{
    background-color: rgb(37, 16, 16);
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
}


#heading
{
    color: orangered;
    font-size: 50px;
    font-family: "Audiowide", sans-serif;



}

#icon1{
    margin-right: 15px;
}

#mainlogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lists{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    
}
.lists li{
    margin-left: 20px;
}
.lists li a{
    color: white;
}

/* content area */


.image1{
    width: 100%;
    overflow: hidden;
    background-image: url(../images/photo1.jpg);
}
#photo1{
    width: 100%;
    z-index: -1;
    object-fit: cover;
    position: relative;
}



#point1{
    width: 200px;
    height: 200px;
    margin-left: 80%;
    transform: rotate(-50deg);
    animation: point 2s infinite;
}

@keyframes point {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#w1{
    font-size: 50px;
    color: orangered;
    margin-top: -140px;
    margin-left: 14px;
    animation: list 6s infinite;
    font-family: "Sofia", sans-serif;
}

#w2{
    font-size: 50px;
    color: orangered;
    margin-left: 25%;
    animation: list 6s infinite;
    font-family: "Sofia", sans-serif;
}
#w3{
    font-size: 55px;
    color: orangered;
    margin-left: 50%;
    animation: list 4s infinite;
    font-family: "Sofia", sans-serif;


}
#w4{
    font-size: 50px;
    color: orangered;
    margin-left: 66%;
    animation: list 5s infinite;
    font-family: "Sofia", sans-serif;

}
#w5{
    font-size: 50px;
    color: orangered;
    margin-left: 86%;
    animation: list 4s infinite;
    font-family: "Sofia", sans-serif;

}

@keyframes list {
    0%{
        color: red;
    }
    50%{
        color: blue;
    }
    100%{
        color: blueviolet;
    }
}


.mainarea{
    width: 100%;
    height: 220px;
    background-color: wheat;
    display: flex;
}

.alignleft{
    /* background-color: blue; */
    width: 50%;
    margin-top: 30px;
}

.alignright{
    /* background-color: rgb(114, 16, 40); */
    width: 50%;
    margin-top: 30px;
}

.footer{
    background-color: black;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.left{
    /* background-color: blue; */
    width: 15%;
}

.left img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.middle{
    /* background-color: aliceblue; */
    width: 40%;

}



.middle ul li,h1,span,p{
    color: white;
}
.right{
    /* background-color: brown; */
    width: 40%;
}

#spth{
    margin-top: 10px;
}
#names li{
    padding: 2px;
}


.followus{
    justify-content: center;
    text-align: center;
}
.followus a img{ 
    width: 20px;
    height: 20px;
}

#copyright{
    text-align: center;
}

#copyright p{
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: orangered;
    font-size: 15px;
    margin-top: 8px;
    font-family: "Sofia", sans-serif;
}


.alignleft h1,.alignright h1{
    color: orangered;
    font-family: "Audiowide", sans-serif;
    margin-left: 30px ;
}

.alignleft p,.alignright p{
    color: rgb(163, 95, 71);
    font-family: "Sofia", sans-serif;
    margin-left: 40px;
    padding: 10px;
}

