*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body{
  background-image: linear-gradient(to right,rgb(61, 5, 5),rgb(13, 13, 105));

    

}
.login-box{
    width: 300px;
    margin-top: 10%;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    background-color:skyblue;
    
}
center{
    margin-top: 10%;
}
  #form{
    background-color:orangered ;
    margin-top: 10%;
  }   


  .log_in{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


#logo{
    width: 10%;
    margin-top: 16px;
    text-align: center;
}
#left-bar{
    width: 40%;
    margin-top: 14px;
    text-align: center;
}

#right-bar{
    background-color: rgb(11, 11, 53);
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar{
    background-color: rgb(37, 16, 16);
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
}


#heading
{
    color: orangered;
    font-size: 50px;
  font-family: "Audiowide", sans-serif;



}

#icon1{
    margin-right: 15px;
}

#mainlogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lists{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 70px;
    

}


.lists li{
    margin-left: 20px;
}
.lists li a{
    color: white;
    animation: list 4s ease-in-out infinite;
}



@keyframes list{
    0%{
        color: red;
    }
    25%{
        color: orangered;
    }
    50%{
        color: blue;
    }
    75%{
        color: blueviolet;
    }
    100%{
        color: wheat;
    }
}

.login{

    width: 100%;
    justify-content: center;
    display: flex;
}


.loginform{
    width: 400px;
    height: 400px;
    margin-top: 10%;
    background-image: url(../images/vertical.avif);
    text-align: center;
    border-radius: 20px 40px 20px 50px;
    animation: border 1s infinite;
}

@keyframes border {
    0%{
      border:solid red;
    }
    50%
    {
      border: solid blue;
    }
    100%{
      border:solid green;
    }
  }


.loginform level{
    color: orangered;
  font-family: "Audiowide", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.loginform span{
    padding: 10px;
    color: red;
    font-family:fantasy;
    font-weight: bold;
}

.loginform input{
    padding: 10px;
    border-radius: 10px;
    
}

#login-btn{
    color: wheat;
    background-color: orangered;
    padding: 10px;
    border: none;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    transition: 0.10s;
}


#login-btn:hover{
    background-color: orange;
    font-size: 17px;
    color: blue;

}

.loginform a:hover{
    color: blue;
}