*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: black;
}

#logo{
    width: 10%;
    margin-top: 16px;
    text-align: center;
}
#left-bar{
    width: 35%;
    margin-top: 14px;
    text-align: center;
}

#right-bar{
    width: 55%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar{
    background-color: rgb(37, 16, 16);
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
}


#heading
{
    color: orangered;
    font-size: 50px;


}

#icon1{
    margin-right: 15px;
}

#mainlogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lists{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    
}
.lists li{
    margin-left: 20px;
}
.lists li a{
    color: white;
}

/* content area */

#search-btn{
    margin-right: 20px;
    padding: 6px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: orangered;
    color: white;
}

#search-box{
    border: none;
    padding: 6px;
    border-radius: 4px 0 0 4px;
    text-align: center;
    width: 50%;
}


.services{
    display: flex;
    width: 100%;
    justify-content: center;
}
#services{
    display: flex;
}

#services li a{
    color: white;
    margin-left: 20px ;
    cursor: pointer;
}


#user,#register{
    color: wheat;
    margin-right: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#user:hover,#register:hover{
    color: orangered;
}

#logo-user,#lugo{
    width: 24px;
    height: 24px;
}

#logo-user:hover,#lugo:hover{
    width: 30px;
    height: 30px;
}

.walpaper{
    width: 100%;
    height: 400px;
    background-color: red;
    animation: walpaper 10s infinite;
}

@keyframes walpaper {
    0%{
        background-image: url(../images/photo1.jpg);
    }
    25%{
        background-image: url(../images/pexels-photo-1820770.webp);
    }
    50%{
        background-image: url(../images/babyboy.jpg);
        
    }
    75%{
        background-image: url(../images/vertical2.jpg)
    }
    100%{
        background-image: url(../images/vertical.avif);
    }
}